<template>
    <div>
        <p>Første komponent 🐱‍🐉</p>

        <p>{{ testEvent }}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            testEvent: "Gør mig frol",
        };
    },

    created() {
        this.emitter.on("my-event", (evt) => {
            if (evt.eventContent.length == 0)
                return (this.testEvent = "Gør mig frol igen 😒");

            this.testEvent = evt.eventContent;
        });
    },
};
</script>
