<template>
    <div>
        <p>Andet komponent 🤳</p>

        <input
            type="text"
            placeholder="Frolificér"
            @keyup="emitMyEvent"
            ref="frolificator"
        />
    </div>
</template>

<script>
export default {
    methods: {
        emitMyEvent() {
            this.emitter.emit("my-event", {
                eventContent: this.$refs.frolificator.value,
            });
        },
    },
};
</script>

<style></style>
