<script setup>
import ComponentOne from "./components/ComponentOne.vue";
import ComponentTwo from "./components/ComponentTwo.vue";
</script>

<template>
    <img alt="Vue logo" src="./assets/logo.png" />

    <div class="c-1">
        <ComponentOne />
    </div>

    <div class="c-2">
        <ComponentTwo />
    </div>
</template>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.c-1 {
    background-color: deeppink;
}

.c-2 {
    background-color: limegreen;
}
</style>
